Repository mongodb/leafygreen-ui, pull requests merged in 2019-12, with the labels that each got.

#209 PD-462: Add Logo and IconButton to root tsconfig
  packages/icon-button/tsconfig.json
  tsconfig.json
Labels: Tooling

#210 PD-467: Add tooling option to github pr template
  .github/pull_request_template.md
Labels: Tooling

#216 PD-468: Update CONTRIBUTING.md to DEVELOPER.md
  CONTRIBUTING.md
  DEVELOPER.md
Labels: Tooling

#217 PD-476: Fix bugs on Safari and Firefox
  .changeset/strong-spoons-explode.md
  packages/menu/src/Menu.tsx
  packages/menu/src/MenuItem.tsx
Labels: Menu, Patch Version

#215 PD-473: Disable MongoMenu account button when account url is empty
  .changeset/rude-shoes-tease.md
  packages/mongo-menu/src/MongoMenu.spec.tsx
  packages/mongo-menu/src/MongoMenu.tsx
Labels: Menu, Minor Version, MongoMenu, Patch Version

#213 PD-386: Update Toggle component to new use palette
  .changeset/quiet-roses-fold.md
  packages/toggle/package.json
  packages/toggle/src/Toggle.story.tsx
  packages/toggle/src/Toggle.tsx
  packages/toggle/tsconfig.json
Labels: Patch Version, Toggle
