Repository mongodb/leafygreen-ui, pull requests merged in 2019-05, with the labels that each got.

#45 PD-220: Refactor toggle component
  packages/Checkbox/src/Checkbox.js
  packages/Toggle/src/Toggle.js
  packages/Toggle/src/style.js
Labels: Patch Version, Toggle

#54 PD-251: Checkbox style update
  package-lock.json
  packages/Checkbox/README.md
  packages/Checkbox/src/Checkbox.js
  packages/Checkbox/src/Checkbox.story.js
Labels: Checkbox, Major Version

#56 PD-220: Convert ccClassName to cx in Button
  packages/Button/src/Button.js
Labels: Button, Minor Version

#62 PD-250: Generate .d.ts files in build script
  .circleci/config.yml
  .gitignore
  README.md
  package.json
  package.tsconfig.json
  packages/lib/package.json
  packages/lib/src/emotion.ts
  packages/lib/src/index.ts
  tsconfig.json
Labels: Minor Version, Tooling, lib

#63 Use package-scoped tsconfig to support individual TS output locations
  packages/lib/package.json
  packages/lib/tsconfig.json
Labels: Tooling

#67 Publish checkbox
  package.json
  packages/Badge/package.json
  packages/Button/package.json
  packages/Checkbox/package.json
  packages/Icon/package.json
  packages/Portal/package.json
  packages/RadioBoxGroup/package.json
  packages/RadioGroup/package.json
  packages/Toggle/package.json
  packages/lib/package.json
  packages/theme/package.json
Labels: Checkbox, Major Version

#41 PD-227: Popover Component
  jest.config.js
  package-lock.json
  package.json
  packages/Popover/README.md
  packages/Popover/package.json
  packages/Popover/src/Popover.spec.js
  packages/Popover/src/Popover.story.js
  packages/Popover/src/Popover.tsx
  packages/Popover/src/hooks.ts
  packages/Popover/src/index.ts
  packages/Popover/src/positionUtils.spec.js
  packages/Popover/src/positionUtils.ts
  scripts/jestSetup.js
  storybook/config.js
  storybook/webpack.config.js
  tsconfig.json
  webpack.config.js
Labels: Major Version, Popover, lib

#69 PD-265: Update checkbox alignment to be optically-aligned
  packages/Checkbox/src/Checkbox.js
Labels: Checkbox, Minor Version
