Repository mongodb/leafygreen-ui, pull requests merged in 2019-08, with the labels that each got.

#99 PD-310: Implement Modal Component
  package.json
  packages/lib/package.json
  packages/modal/README.md
  packages/modal/package.json
  packages/modal/src/Modal.spec.tsx
  packages/modal/src/Modal.story.tsx
  packages/modal/src/Modal.tsx
  packages/modal/src/index.ts
  packages/modal/tsconfig.json
  yarn.lock
Labels: Major Version, Modal

#120 Publish
  packages/badge/package.json
  packages/button/package.json
  packages/card/package.json
  packages/checkbox/package.json
  packages/code/package.json
  packages/emotion/package.json
  packages/hooks/package.json
  packages/icon/package.json
  packages/lib/package.json
  packages/menu/package.json
  packages/modal/package.json
  packages/palette/package.json
  packages/popover/package.json
  packages/portal/package.json
  packages/radio-box-group/package.json
  packages/radio-group/package.json
  packages/syntax/package.json
  packages/theme/package.json
  packages/toggle/package.json
Labels: Major Version, Patch Version

#121 Fix Modal README
  packages/modal/README.md
  packages/modal/src/Modal.story.tsx
  packages/modal/src/index.ts
Labels: Modal, Patch Version

#122 PD-366: updated examples in modal storybook
  packages/modal/src/Modal.story.tsx
Labels: Modal, Patch Version

#124 Publish
  packages/badge/package.json
  packages/button/package.json
  packages/card/package.json
  packages/checkbox/package.json
  packages/code/package.json
  packages/emotion/package.json
  packages/hooks/package.json
  packages/icon/package.json
  packages/lib/package.json
  packages/menu/package.json
  packages/modal/package.json
  packages/palette/package.json
  packages/popover/package.json
  packages/portal/package.json
  packages/radio-box-group/package.json
  packages/radio-group/package.json
  packages/syntax/package.json
  packages/theme/package.json
  packages/toggle/package.json
Labels: Minor Version, Patch Version

#126 fix(icon): PD-355 Use currentcolor to set glyph fills
  .svgrrc.js
  packages/icon/README.md
  packages/icon/tsconfig.json
Labels: Icon, Major Version

#111 Use TypeScript Projects
  .circleci/config.yml
  .gitignore
  README.md
  package.json
  package.tsconfig.json
  packages/badge/tsconfig.json
  packages/button/tsconfig.json
  packages/card/tsconfig.json
  packages/checkbox/tsconfig.json
  packages/code/tsconfig.json
  packages/emotion/tsconfig.json
  packages/hooks/tsconfig.json
  packages/icon/tsconfig.json
  packages/lib/tsconfig.json
  packages/menu/tsconfig.json
  packages/modal/tsconfig.json
  packages/palette/tsconfig.json
  packages/popover/tsconfig.json
  packages/portal/tsconfig.json
  packages/radio-box-group/tsconfig.json
  packages/radio-group/tsconfig.json
  packages/syntax/tsconfig.json
  packages/theme/tsconfig.json
  packages/toggle/tsconfig.json
  tsconfig.json
Labels: Tooling

#128 Make the root button element a new stacking context
  packages/button/src/Button.tsx
Labels: Button, Patch Version

#125 PD-242: Add Automatic Changelog Generation
  .changeset/README.md
  .changeset/config.js
  README.md
  package.json
  yarn.lock
Labels: Tooling
