Repository mongodb/leafygreen-ui, pull requests merged in 2019-06, with the labels that each got.

#77 Fix: added option to pass an id to toggle component
  package-lock.json
  packages/Checkbox/README.md
  packages/Checkbox/src/Checkbox.js
  packages/Toggle/README.md
  packages/Toggle/src/Toggle.js
Labels: Checkbox, Minor Version, Toggle

#80 PD-298: Port <Badge> to TypeScript
  packages/Badge/package.json
  packages/Badge/src/Badge.spec.tsx
  packages/Badge/src/Badge.story.tsx
  packages/Badge/src/Badge.tsx
  packages/Badge/src/index.js
  packages/Badge/src/index.ts
  packages/Badge/tsconfig.json
Labels: Badge

#79 PD-302: Port <Portal> to TypeScript
  packages/Portal/package.json
  packages/Portal/src/Portal.spec.tsx
  packages/Portal/src/Portal.story.tsx
  packages/Portal/src/Portal.tsx
  packages/Portal/src/index.js
  packages/Portal/src/index.ts
  packages/Portal/tsconfig.json
Labels: Portal

#78 PD299: Port <Button> to TypeScript
  packages/Button/src/Button.spec.tsx
  packages/Button/src/Button.story.js
  packages/Button/src/Button.story.tsx
  packages/Button/src/Button.tsx
  packages/Button/src/index.js
  packages/Button/src/index.ts
Labels: Button

#59 PD:204 - Menu Component
  package-lock.json
  package.json
  packages/Menu/README.md
  packages/Menu/package-lock.json
  packages/Menu/package.json
  packages/Menu/src/Menu.spec.js
  packages/Menu/src/Menu.story.js
  packages/Menu/src/Menu.tsx
  packages/Menu/src/MenuGroup.tsx
  packages/Menu/src/MenuItem.tsx
  packages/Menu/src/hooks.ts
  packages/Menu/src/index.ts
  packages/Menu/tsconfig.json
  packages/Popover/src/Popover.tsx
Labels: Major Version, Menu

#82 PD-300: Port <Checkbox> to TypeScript
  packages/Checkbox/src/Checkbox.spec.tsx
  packages/Checkbox/src/Checkbox.story.tsx
  packages/Checkbox/src/Checkbox.tsx
  packages/Checkbox/src/img/index.ts
  packages/Checkbox/src/index.js
  packages/Checkbox/src/index.ts
  packages/Checkbox/tsconfig.json
  tsconfig.json
  typings/images.d.ts
Labels: Checkbox

#84 PD-301: Port <Icon> to TypeScript
  .svgrrc.js
  packages/Icon/package.json
  packages/Icon/src/Icon.spec.tsx
  packages/Icon/src/Icon.story.tsx
  packages/Icon/src/createIconComponent.js
  packages/Icon/src/createIconComponent.tsx
  packages/Icon/src/glyphs/index.ts
  packages/Icon/src/index.ts
  packages/Icon/tsconfig.json
  typings/images.d.ts
  typings/svgr.d.ts
Labels: Icon

#85 PD-305: Port <Toggle> to TypeScript
  packages/Checkbox/package.json
  packages/Toggle/package.json
  packages/Toggle/src/Toggle.spec.tsx
  packages/Toggle/src/Toggle.story.tsx
  packages/Toggle/src/Toggle.tsx
  packages/Toggle/src/index.js
  packages/Toggle/src/index.ts
  packages/Toggle/tsconfig.json
Labels: Toggle

#86 PD-318: Upgrade to @testing-library/react
  package-lock.json
  package.json
  packages/Badge/src/Badge.spec.tsx
  packages/Button/src/Button.spec.tsx
  packages/Button/src/Button.story.tsx
  packages/Button/src/Button.tsx
  packages/Checkbox/src/Checkbox.spec.tsx
  packages/Icon/src/Icon.spec.tsx
  packages/Menu/src/Menu.spec.js
  packages/Popover/package-lock.json
  packages/Popover/src/Popover.spec.js
  packages/Portal/src/Portal.spec.tsx
  packages/RadioBoxGroup/src/RadioBoxGroup.spec.js
  packages/RadioGroup/src/Radio.spec.js
  packages/RadioGroup/src/RadioGroup.spec.js
  packages/Toggle/src/Toggle.spec.tsx
  packages/hooks/src/hooks.spec.js
Labels: Tooling

#89 PD-304: Port <RadioGroup> to TypeScript
  packages/RadioGroup/package.json
  packages/RadioGroup/src/Radio.spec.tsx
  packages/RadioGroup/src/Radio.tsx
  packages/RadioGroup/src/RadioGroup.spec.tsx
  packages/RadioGroup/src/RadioGroup.story.tsx
  packages/RadioGroup/src/RadioGroup.tsx
  packages/RadioGroup/src/Variant.ts
  packages/RadioGroup/src/index.js
  packages/RadioGroup/src/index.ts
  packages/RadioGroup/tsconfig.json
Labels: RadioGroup

#87 PD-317: Migrate from NPM to Yarn
  .circleci/config.yml
  .prettierignore
  README.md
  lerna.json
  package-lock.json
  package.json
  packages/Button/package-lock.json
  packages/Button/src/Button.tsx
  packages/Checkbox/package-lock.json
  packages/Menu/package-lock.json
  packages/RadioGroup/package-lock.json
  packages/Toggle/package-lock.json
  packages/lib/package-lock.json
  packages/theme/package-lock.json
  scripts/link.sh
  yarn.lock
Labels: Tooling

#91 PD-321: Convert enums to const objects
  packages/Badge/src/Badge.tsx
  packages/Button/src/Button.tsx
  packages/Checkbox/src/Checkbox.tsx
  packages/Icon/src/createIconComponent.tsx
  packages/Popover/src/Align.ts
  packages/Popover/src/Justify.ts
  packages/Popover/src/Popover.spec.tsx
  packages/Popover/src/Popover.story.tsx
  packages/Popover/src/Popover.tsx
  packages/Popover/src/index.ts
  packages/Popover/src/positionUtils.spec.js
  packages/Popover/src/positionUtils.ts
  packages/Toggle/src/Toggle.tsx
Labels: Tooling

#90 PD-303: Port <RadioBoxGroup> to TypeScript
  packages/Button/package.json
  packages/Button/tsconfig.json
  packages/RadioBoxGroup/package.json
  packages/RadioBoxGroup/src/RadioBox.tsx
  packages/RadioBoxGroup/src/RadioBoxGroup.spec.tsx
  packages/RadioBoxGroup/src/RadioBoxGroup.story.tsx
  packages/RadioBoxGroup/src/RadioBoxGroup.tsx
  packages/RadioBoxGroup/src/Size.ts
  packages/RadioBoxGroup/src/index.js
  packages/RadioBoxGroup/src/index.ts
  packages/RadioBoxGroup/tsconfig.json
Labels: RadioBox

#101 PD-319: Add new glyphs, and update existing glyphs with new styles
  packages/icon/README.md
  packages/icon/src/Icon.story.tsx
  packages/icon/src/glyphs/Checkmark.svg
  packages/icon/src/glyphs/CheckmarkWithCircle.svg
  packages/icon/src/glyphs/InfoWithCircle.svg
  packages/icon/src/glyphs/MagnifyingGlass.svg
  packages/icon/src/glyphs/NotAllowed.svg
  packages/icon/src/glyphs/PlusWithCircle.svg
  packages/icon/src/glyphs/QuestionMarkWithCircle.svg
  packages/icon/src/glyphs/Warning.svg
  packages/icon/src/glyphs/XWithCircle.svg
  packages/icon/src/glyphs/index.ts
Labels: Icon, Minor Version
