Repository mongodb/leafygreen-ui, pull requests merged in 2019-04, with the labels that each got.

#34 PD-147: Icon Component
  .svgrrc.js
  package-lock.json
  package.json
  packages/Icon/README.md
  packages/Icon/package.json
  packages/Icon/src/Icon.spec.js
  packages/Icon/src/Icon.story.js
  packages/Icon/src/createIconComponent.js
  packages/Icon/src/glyphs/Bell.svg
  packages/Icon/src/glyphs/Building.svg
  packages/Icon/src/glyphs/CaretDown.svg
  packages/Icon/src/glyphs/CaretLeft.svg
  packages/Icon/src/glyphs/CaretRight.svg
  packages/Icon/src/glyphs/CaretUp.svg
  packages/Icon/src/glyphs/Charts.svg
  packages/Icon/src/glyphs/ChevronDown.svg
  packages/Icon/src/glyphs/ChevronLeft.svg
  packages/Icon/src/glyphs/ChevronRight.svg
  packages/Icon/src/glyphs/ChevronUp.svg
  packages/Icon/src/glyphs/Cloud.svg
  packages/Icon/src/glyphs/Copy.svg
  packages/Icon/src/glyphs/CreditCard.svg
  packages/Icon/src/glyphs/Edit.svg
  packages/Icon/src/glyphs/Ellipsis.svg
  packages/Icon/src/glyphs/Laptop.svg
  packages/Icon/src/glyphs/Lock.svg
  packages/Icon/src/glyphs/Menu.svg
  packages/Icon/src/glyphs/Person.svg
  packages/Icon/src/glyphs/PersonWithLock.svg
  packages/Icon/src/glyphs/Plus.svg
  packages/Icon/src/glyphs/PlusWithCircle.svg
  packages/Icon/src/glyphs/Refresh.svg
  packages/Icon/src/glyphs/Save.svg
  packages/Icon/src/glyphs/Settings.svg
  packages/Icon/src/glyphs/Stitch.svg
  packages/Icon/src/glyphs/Support.svg
  packages/Icon/src/glyphs/Trash.svg
  packages/Icon/src/glyphs/X.svg
  packages/Icon/src/glyphs/XWithCircle.svg
  packages/Icon/src/glyphs/index.js
  packages/Icon/src/index.js
  storybook/decorators/ComponentPreview.js
  webpack.config.js
Labels: Icon, Major Version

#43 PD-237: Fix Icon / theme build
  packages/Icon/src/createIconComponent.js
  packages/theme/src/index.js
Labels: Icon, Patch Version

#44 Changed export pattern for RadioGroup and RadioBoxGroup
  package-lock.json
  packages/RadioBoxGroup/README.md
  packages/RadioBoxGroup/src/index.js
  packages/RadioGroup/README.md
  packages/RadioGroup/src/index.js
Labels: Major Version, RadioBox, RadioGroup
