Repository mongodb/leafygreen-ui, pull requests merged in 2020-01, with the labels that each got.

#232 PD-488: Update lib version in package-builder script
  scripts/package-builder.js
Labels: Tooling

#233 PD-489: Add create-emotion-server to Webpack externals array
  .changeset/eight-planets-change.md
  webpack.config.js
Labels: Emotion, Tooling

#239 Improve SideNav Accessibility
  .changeset/curly-meals-pay.md
  packages/side-nav/README.md
  packages/side-nav/src/SideNav.spec.tsx
  packages/side-nav/src/SideNavGroup.tsx
  packages/side-nav/src/SideNavItem.tsx
Labels: Patch Version, SideNav

#243 PD-496: Add mode prop to MongoNav
  packages/menu/package.json
  packages/mongo-nav/README.md
  packages/mongo-nav/package.json
  packages/mongo-nav/src/MongoNav.spec.tsx
  packages/mongo-nav/src/MongoNav.story.tsx
  packages/mongo-nav/src/MongoNav.tsx
  packages/mongo-nav/src/types.ts
  yarn.lock
Labels: MongoNav

#241 PD-494: Add size prop to IconButton component
  .changeset/funny-radios-sparkle.md
  .changeset/tricky-eyes-teach.md
  packages/icon-button/README.md
  packages/icon-button/src/IconButton.spec.tsx
  packages/icon-button/src/IconButton.story.tsx
  packages/icon-button/src/IconButton.tsx
  packages/icon/src/createIconComponent.tsx
Labels: Icon, IconButton

#246 PD-502: Rename MongoMenu to UserMenu
  .changeset/neat-lies-bathe.md
  packages/mongo-nav/README.md
  packages/mongo-nav/src/MongoNav.tsx
  packages/mongo-nav/src/index.ts
  packages/mongo-nav/src/mongo-menu/index.ts
  packages/mongo-nav/src/mongo-select/MongoSelect.spec.tsx
  packages/mongo-nav/src/org-nav/OrgNav.tsx
  packages/mongo-nav/src/types.ts
  packages/mongo-nav/src/user-menu/UserMenu.spec.tsx
  packages/mongo-nav/src/user-menu/UserMenu.tsx
  packages/mongo-nav/src/user-menu/UserMenuTrigger.tsx
  packages/mongo-nav/src/user-menu/index.ts
Labels: MongoNav
